---
const imagenes = [
  {
    src: "https://plus.unsplash.com/premium_photo-1663134168833-8ed167cd2ec4?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",

    alt: "A beautiful landscape",
  },

  {
    src: "https://images.unsplash.com/photo-1597076537061-a6b58163aa45?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",

    alt: "A serene beach at sunset",
  },

  {
    src: "https://images.unsplash.com/photo-1597075933405-a06cb4d6cecb?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",

    alt: "A bustling city skyline",
  },
];

// Calculamos el número total de diapositivas para la navegación

const totalSlides = imagenes.length;
---

<section class="px-12 py-8">
  <h2 class="text-4xl font-extrabold text-center text-gray-900 mb-6">
    Nuestras Instalaciones
  </h2>

  <div class="carousel w-full rounded-box">
    {
      imagenes.map((imagen, index) => {
        // Calculamos los IDs para la navegación

        const prevSlide = index === 0 ? totalSlides : index;

        const nextSlide = index === totalSlides - 1 ? 1 : index + 2;

        return (
          <div id={`slide${index + 1}`} class="carousel-item relative w-full">
            <img
              src={imagen.src}
              alt={imagen.alt}
              class="w-full object-cover h-[500px]"
            />

            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
              <a href={`#slide${prevSlide}`} class="btn btn-circle">
                ❮
              </a>

              <a href={`#slide${nextSlide}`} class="btn btn-circle">
                ❯
              </a>
            </div>
          </div>
        );
      })
    }
  </div>
</section>
